# Keystore Configuration Template
# Copy this file to keystore.properties and fill in your values
# NEVER commit keystore.properties to version control!

SPHYRA_RELEASE_STORE_FILE=sphyra-release.keystore
SPHYRA_RELEASE_KEY_ALIAS=sphyra-key
SPHYRA_RELEASE_STORE_PASSWORD=YOUR_SECURE_PASSWORD_HERE
SPHYRA_RELEASE_KEY_PASSWORD=YOUR_SECURE_PASSWORD_HERE
